force-app/main/default/flows/TableauVDSFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>answer_question</name>
        <label>answer question</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>TableauAnswerVDSQuestion</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>check_all_actions_rank_ok</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:result_set</name>
            <value>
                <elementReference>run_query.resultText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:prompt_text</name>
            <value>
                <elementReference>promptText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:explanation</name>
            <value>
                <elementReference>generate_query.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TableauAnswerVDSQuestion</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>generate_query</name>
        <label>generate query</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>TableauVDSGeneration</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>run_query</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:user_query</name>
            <value>
                <elementReference>promptText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:metadata_info</name>
            <value>
                <elementReference>get_metadata.resultText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TableauVDSGeneration</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>get_metadata</name>
        <label>get metadata</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>TableauVDSGetMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>generate_query</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dataSourceLUID</name>
            <value>
                <elementReference>vdsSourceLUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>get_session.token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vdsMetadataURL</name>
            <value>
                <elementReference>vdsMetadataURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TableauVDSGetMetadata</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>get_session</name>
        <label>get session</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>TableauGetSession</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_metadata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>getSessionURL</name>
            <value>
                <elementReference>tableauGetSessionURL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patName</name>
            <value>
                <elementReference>patName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>patSecret</name>
            <value>
                <elementReference>patSecret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>siteName</name>
            <value>
                <elementReference>siteName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TableauGetSession</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>run_query</name>
        <label>run query</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>TableauVDSQueryData</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>answer_question</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dataSourceLUID</name>
            <value>
                <elementReference>vdsSourceLUID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>token</name>
            <value>
                <elementReference>get_session.token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vdsPayload</name>
            <value>
                <elementReference>generate_query.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vdsQueryURL</name>
            <value>
                <elementReference>vdsQueryURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TableauVDSQueryData</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignment_2</name>
        <label>assignment 2</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>generatedQuery</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>generate_query.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry, something went wrong and I couldn&apos;t retrieve data.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>success</name>
        <label>success</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>generatedQuery</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>generate_query.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>answer_question.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_all_actions_rank_ok</name>
        <label>check all actions rank ok</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>assignment_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>all_good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_metadata.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_metadata.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>run_query.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>success</targetReference>
            </connector>
            <label>all good</label>
        </rules>
    </decisions>
    <description>A flow for authenticating to a target tableau published data source, translating natural language queries into JSON payloads, and retrieving relevant data based on the natural language input query.</description>
    <environments>Default</environments>
    <interviewLabel>TableauVDSFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TableauVDSFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>generatedQuery</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>patName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patSecret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promptText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>siteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tableauGetSessionURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vdsMetadataURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vdsQueryURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vdsSourceLUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
